/*Vazirmatn*/
@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");
/*Material Icons*/
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: vazirmatn, sans-serif;
  letter-spacing: normal ;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
